/* ################################################################################################################################                                                                                                                                #
#   _____ _               _   _                                      _                           ___   ___ ___   ___              #
#  / ____(_)             | | (_)                                    (_)                         |__ \ / _ \__ \ / _ \             #
# | |  __ _  __ _  ___   | |_ _  ___ _ __    _ __   __ _ _   _  ___  _   _ __ ___   __ _ _   _     ) | | | | ) | | | |            #
# | | |_ | |/ _` |/ _ \  | __| |/ _ \ '_ \  | '_ \ / _` | | | |/ _ \| | | '_ ` _ \ / _` | | | |   / /| | | |/ /| | | |            #
# | |__| | | (_| | (_) | | |_| |  __/ |_) | | | | | (_| | |_| | (_) | | | | | | | | (_| | |_| |  / /_| |_| / /_| |_| |            #
#  \_____|_|\__,_|\___/   \__|_|\___| .__/  |_| |_|\__, |\__,_|\___/|_| |_| |_| |_|\__,_|\__, | |____|\___/____|\___/             #
#                                  | |             __/ |                                 __/ |                                    #
#                                  |_|            |___/                                 |___/                                     #                                                                                                                                 #
################################################################################################################################## */

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE and Edge */
body {
  -ms-overflow-style: none;
}
/* căn lề cho các components sau navigation bar */
#align-top {
  margin-top: 100px;
}
.current_content span {
  background: linear-gradient(to left, #0ebeb0 1%, #34eb13 100%);
  padding: 10px;
  border: 2px solid;
  border-radius: 10px;
  border-color: blue;
}
/* tắt gạch chân phần tử menu khi rê chuột trong lúc đang ở URL của phần từ đó */
.current_content .nav-item:after {
  background-color: transparent;
  transition: all 2ms linear;
}

/* for button select language */
/* disable translate bar on top */
.goog-te-banner-frame {
  visibility: hidden !important;
}
body {
  top: 0 !important;
}
/* remove power by google translate text */
.goog-logo-link {
  display: none !important;
}

.goog-te-gadget {
  color: transparent !important;
}

/* for button quick view & full view / New_Block */
.button_group {
}

.button_group .btnLeft {
  float: left;
}
.button_group .btnRight {
  float: right;
}

/* for Group_News */
.Group_News {
}
/* for block new */
.News_Block_background {
  background-color: rgba(0, 0, 0, 0.048);
}
.News_Block {
  border: 2.2px solid;
  border-color: rgba(3, 3, 3, 0.144);
}

/* for Quick view modal */
.header_quick_view {
  background-color: rgba(16, 17, 17, 0.13);
}
.closeBtn {
  color: red;
}

/* for full view news topic */
.contentNewTopic {
  font-size: 1.2em;
}

/* for Search page */

.title_result {
}

.getUserLocationTable {
  width: 80%;
  margin: auto;
  background-color: rgba(7, 7, 7, 0.02);
  margin-top: -4%;
}
.getUserLocationTable td {
  font-size: 1.04em;
}

.notification {
  color: blue;
}

thead,
tbody,
tr {
  border: 1px solid;
  border-color: rgba(128, 125, 125, 0.219);
}

.searchTocpicResult {
  font-weight: normal;
}

.searchResultBox {
  border: 1px solid;
  border-radius: 10px;
  border-color: rgba(13, 14, 14, 0.198);
}
.searchResultBox > a {
  text-decoration: none;
  color: black;
}

.searchResultBox > a:hover {
  color: black;
}
.searchTocpicResultIMG {
  margin-top: -7%;
  margin-bottom: 1%;
  width: 90%;
  border-radius: 10px;
}

/* // for loading icon */
.loader {
  width: 40px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes load1 {
  100% {
    transform: rotatez(360deg);
  }
}
.loader1::before {
  content: "";
  color: white;
  height: 40px;
  width: 40px;
  background: transparent;
  border-radius: 50%;
  border: 10px solid transparent;
  border-color: #03e521 #43e503 transparent transparent;
  animation: load1 0.4s infinite;
}

.modal-title .title {
  float: right;
  margin-top: 15%;
  padding-left: 30px;
}
.modal-title .loader1 {
  float: left;
}

.modal-title {
  height: 70px;
  margin-bottom: -5px;
  margin-top: -20px;
}

/* // for About Page */
.group_card_profile {
  width: 80%;
}

.leaderCard {
}

.card-main {
  height: 200px;
}

/* for More page */
#chartdiv1 {
  width: 100%;
  height: 500px;
}

#chartdiv2 {
  width: 100%;
  height: 600px;
}

.introAbout {
  margin: 0% 10% 9% 10%;
}

.LienHeComponent {
  border: 1px solid;
  border-color: rgba(15, 15, 15, 0.144);
  background: linear-gradient(to bottom left, #fffffffa 0%, #fffdfe0c 100%);
}

/* ///////////// For Feedback customer //////////////// */
h2 {
  color: #333;
  text-align: center;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  position: relative;
  margin: 30px 0 60px;
}
h2::after {
  width: 100px;
  position: absolute;
  margin: 0 auto;
  height: 3px;
  background: #8fbc54;
  left: 0;
  right: 0;
  bottom: -10px;
}
.col-center {
  margin: 0 auto;
  float: none !important;
}
.carousel {
  margin: 50px auto;
  padding: 0 70px;
}
.carousel .item {
  color: rgb(0, 0, 0);
  font-size: 1em;
  text-align: center;
  overflow: hidden;
  min-height: 290px;
}
.carousel .item .img-box {
  width: 135px;
  height: 135px;
  margin: 0 auto;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 50%;
}
.carousel .img-box img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 50%;
}
.carousel .testimonial {
  padding: 30px 0 10px;
}
.carousel .overview {
  font-style: italic;
}
.carousel .overview b {
  text-transform: uppercase;
  color: #7aa641;
}
.carousel .carousel-control {
  width: 40px;
  height: 40px;
  margin-top: -20px;
  top: 50%;
  background: none;
}
.carousel-control i {
  font-size: 68px;
  line-height: 42px;
  position: absolute;
  display: inline-block;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 0 3px 3px #e6e6e6, 0 0 0 #000;
}
.carousel .carousel-indicators {
  bottom: -40px;
}
.carousel-indicators,
.carousel-indicators {
  width: 10px;
  height: 10px;
  margin: 1px 3px;
  border-radius: 50%;
}
.carousel-indicators li {
  background: #999;
  border-color: transparent;
  box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.2);
}
.carousel-indicators li.active {
  background: #555;
  box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.2);
}

.feedBack {
}

#responsive-mockup {
  width: 80%;
  height: auto;
}

/* /////////// for block news /////////// */

#img-wrapperNewsThumbnail {
  overflow: hidden;
}
.imgNewsThumbnail:hover {
  -ms-transform: scale(1.28); /* IE 9 */
  -webkit-transform: scale(1.28); /* Safari 3-8 */
  transform: scale(1.28);
}
.imgNewsThumbnail {
  -ms-transform: scale(1); /* IE 9 */
  -webkit-transform: scale(1); /* Safari 3-8 */
  transform: scale(1);
  transition: 0.7s;
}

.title-card-link {
  color: rgba(26, 25, 25, 0.979);
}
.title-card-link:hover {
  text-decoration: none;
}

/* /////////////////
 */

.disabledHoverBC {
  pointer-events: none;
}

/* googleFormFeedBack */
.googleFormFeedBack::-webkit-scrollbar {
  display: none;
}

.googleFormFeedBack {
  -ms-overflow-style: none;
}

@media (max-width: 767px) {
  #breadcrumb {
    font-size: 0.65em;
  }

  .titleFullView {
    font-size: 1.4em;
  }

  .wv-button-placeholder {
    font-size: 0.7em;
  }

  .fb-like {
    margin-top: 20px;
  }

  .buttonSocial {
    margin-top: -11%;
    margin-bottom: -8%;
  }

  .contentFullView {
    padding: 0% -20% 0% -20%;
  }
 

  
}


